    /* show */
 .show {
    display: flex;
    width: 312px;
    height: 337px;
    
    background: white;
    box-shadow: rgba(0, 0, 0, 0.315) 5px 14px;
                                    
   }
   
   .door-left {
       
       width: 156px;
       height: 337px;
       transition: transform 2.5s;
       transform-origin: left;
       z-index: 10;
       animation-name: doorleft;
       animation-duration: 3s;
       animation-fill-mode: forwards;

   }
   
   .door-right {
       
       width: 156px;
       height: 337px;
       transition: transform 2.5s;
       transform-origin: right;
       z-index: 10;
       animation-name: doorright;
       animation-duration: 3s;
       animation-fill-mode: forwards;
       
   }
   
   .contain-baloes {
       background-image: url('Imagens/papel-de-parede.jpg');
       background-size: cover;
       position: absolute;
       width: 312px;
       height: 337px;
       display: flex;
       align-items: center;
       justify-content: center;
       
   }

   .botoes {
       display: block;
   }

   .botoes span {
       margin: 50px;
       background-color: beige;
       padding: 5px;
       color: rgb(241, 81, 228);
       font-weight: bold;
       border-radius: 5px;
   }

   .botoes div {
       display: flex;
       justify-content: center;
       align-items: center;
       margin-top: 10px;
       
       
   }

   .botoes button {
       margin: 5px;
       height: 30px;
       font-size: 15px;
       padding: 5px 5px 5px 5px;
       border-radius: 5px;
       text-align: justify;
       background-color: rgb(241, 81, 228);
       color: aliceblue;
   }

   
   
   #baloes {
       position: absolute;
       left: 150px;
       top: 135px;
       rotate: 13deg;
       width: 150px;
       height: 150px;
   }
   
   
        
        @keyframes doorleft {
           
            from { transform: rotateY(0deg);}
            to { transform: rotateY(-140deg);}
        
            
        }

        
        @keyframes doorright {
           
            from { transform: rotateY(0deg);}
            to { transform: rotateY(140deg);}
        
            
        }
        
        

        .show:hover #baloes {
            transform: translatex(-250px) translateY(-100px);
        }
